vm_name = "demo"
image = "https://app.vagrantup.com/bento/boxes/centos-stream-9/versions/202404.23.0/providers/virtualbox/amd64/vagrant.box"
user_data = "./user_data/centos.cloud-init"
network_adapter_type = "hostonly"
network_host_interface = "vboxnet0"